.btn-primary {
  margin-top: 16px;
  float: right;
  font-size: 16px;
  padding: 10px 32px;
  background: #0055ff;
  color: #fff;
  outline: none;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: 0.5s;
}
.btn-primary:hover {
  background: #0055dd;
  color: #fff;
  transition: 0.5s;
}
.btn-primary:focus {
  box-shadow: 0 0 0 5px rgba(0, 85, 255, 0.5)
}